<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>灾种管理</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/ewip.css}" media="all">

</head>
<body>

    <!-- 列表：数据行操作 -->
    <script type="text/html" id="btnGroupOption">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="updateOption"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        {{# if(d.child != 0) { }}
        <a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="deleteOption"><i class="layui-icon layui-icon-delete"></i>删除</a>
        {{# }else{ }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deleteOption"><i class="layui-icon layui-icon-delete"></i>删除</a>
        {{# } }}
    </script>

    <!-- 添加灾种弹出层 -->
    <script id="addPop" type="text/html">
        <div class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">所属灾种</label>
                <div class="layui-input-block">
                    <div id="addPId" name="pId" class="select-tree layui-form-select" autocomplete="off" placeholder="请选择上级灾种"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种类型</label>
                <div class="layui-input-block">
                    <select name="type" lay-verify="type" placeholder="请选择类型">
                        <option value="">请选择灾种类型</option>
                        <option value="0">事件</option>
                        <option value="1">类型</option>
                        <option value="2">灾种</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="name" placeholder="请输入渠道手段名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种编码</label>
                <div class="layui-input-block">
                    <input type="text" name="code" lay-verify="code" placeholder="请输入渠道手段名称" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-hide" >
                <div class="layui-input-block layui-col-md-offset4">
                    <button class="layui-btn" lay-submit="" lay-filter="submitAddBtn" id="submitAddBtn">添加</button>
                </div>
            </div>
        </div>
    </script>

    <!-- 修改灾种弹出层 -->
    <script id="updatePop" type="text/html">
        <div class="layui-form layui-form-pane">
            <!--判断是否是一级菜单-->
            {{# if(d.level != 0){ }}
            <div class="layui-form-item">
                <label class="layui-form-label">所属灾种</label>
                <div class="layui-input-block">
                    <div id="updatePId" name="pId" class="select-tree layui-form-select" autocomplete="off" placeholder="请选择上级灾种"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种类型</label>
                <div class="layui-input-block">
                    <select name="type" lay-verify="type" placeholder="请选择类型">
                        <option value="">请选择灾种类型</option>
                        <option value="0">事件</option>
                        <option value="1">类型</option>
                        <option value="2">灾种</option>
                    </select>
                </div>
            </div>
            {{# } }}
            <div class="layui-form-item">
                <label class="layui-form-label">灾种名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="name" value="{{d.name}}" placeholder="请输入渠道手段名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种编码</label>
                <div class="layui-input-block">
                    <input type="text" name="code" lay-verify="code" value="{{d.code}}" placeholder="请输入渠道手段名称" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-hide" >
                <div class="layui-input-block layui-col-md-offset4">
                    <button class="layui-btn" lay-submit="" lay-filter="submitUpdateBtn" id="submitUpdateBtn">添加</button>
                </div>
            </div>
        </div>
    </script>

    <!-- 灾种级别配置弹出层 -->
    <script id="configAddPop" type="text/html">
        <div class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">所属灾种</label>
                <div class="layui-input-block">
                    <div id="configAddPId" name="pId" class="select-tree layui-form-select" autocomplete="off" placeholder="请选择上级灾种"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种类型</label>
                <div class="layui-input-block">
                    <select name="type" lay-verify="type" placeholder="请选择类型" disabled>
                        <option value="">请选择灾种类型</option>
                        <option value="0">事件</option>
                        <option value="1">类型</option>
                        <option value="2">灾种</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="name" placeholder="请输入灾种名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种编码</label>
                <div class="layui-input-block">
                    <input type="text" name="code" lay-verify="code" placeholder="请输入灾种编码" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">灾种颜色</label>
                <div class="layui-input-block configType">
                    <input type="radio" name="disasterColor" lay-filter="color" value="0" title="红色">
                    <input type="radio" name="disasterColor" lay-filter="color" value="1" title="橙色">
                    <input type="radio" name="disasterColor" lay-filter="color" value="2" title="黄色">
                    <input type="radio" name="disasterColor" lay-filter="color" value="3" title="蓝色" checked>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">灾种级别</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="levelName" lay-verify="level" placeholder="请输入灾种级别" autocomplete="off" class="layui-input">
                    <input type="hidden" readonly="readonly" name="disasterLevel" lay-verify="level" placeholder="请输入灾种级别" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种图标</label>
                <div class="layui-input-block upload">
                    <input type="text" readonly name="icon" lay-verify="icon" placeholder="请上传图标（要求图片大小：50px*50px）" autocomplete="off" class="layui-input ewip-upload-input">
                    <input type="file" hidden  id="addFile" name="addFile">
                    <button class="ewip-upload-btn" id="addUploadBtn">上传</button>
                </div>
            </div>
            <!--灾种配置标志-->
            <input type="hidden" name="isConfig" value="1">

            <div class="layui-form-item layui-hide" >
                <div class="layui-input-block layui-col-md-offset4">
                    <button class="layui-btn" lay-submit="" lay-filter="submitConfigAddBtn" id="submitConfigAddBtn">配置</button>
                </div>
            </div>
        </div>
    </script>

    <!-- 灾种级别配置修改弹出层 -->
    <script id="configUpdatePop" type="text/html">
        <div class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label class="layui-form-label">所属灾种</label>
                <div class="layui-input-block">
                    <div id="configUpdatePId" name="pId" class="select-tree layui-form-select" autocomplete="off" placeholder="请选择上级灾种"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种类型</label>
                <div class="layui-input-block">
                    <select name="type" lay-verify="type" placeholder="请选择类型" disabled>
                        <option value="">请选择灾种类型</option>
                        <option value="0">事件</option>
                        <option value="1">类型</option>
                        <option value="2">灾种</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" value="{{d.name}}" readonly lay-verify="name" placeholder="请输入灾种名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种编码</label>
                <div class="layui-input-block">
                    <input type="text" name="code" value="{{d.code}}" readonly lay-verify="code" placeholder="请输入灾种编码" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">灾种颜色</label>
                <div class="layui-input-block configType">
                    <input type="radio" name="disasterColor" lay-filter="color" value="0" title="红色">
                    <input type="radio" name="disasterColor" lay-filter="color" value="1" title="橙色">
                    <input type="radio" name="disasterColor" lay-filter="color" value="2" title="黄色">
                    <input type="radio" name="disasterColor" lay-filter="color" value="3" title="蓝色">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">灾种级别</label>
                <div class="layui-input-block">
                    <input type="text" readonly="readonly" name="levelName" lay-verify="level" placeholder="请输入灾种级别" autocomplete="off" class="layui-input">
                    <input type="hidden" readonly="readonly" name="disasterLevel" lay-verify="level" placeholder="请输入灾种级别" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种图标</label>
                <div class="layui-input-block upload">
                    <input type="text" readonly name="icon" value="{{d.icon}}" lay-verify="icon" placeholder="请上传图标（要求图片大小：50px*50px）" autocomplete="off" class="layui-input ewip-upload-input">
                    <input type="file" hidden  id="updateFile" name="updateFile">
                    <button class="ewip-upload-btn" id="updateUploadBtn">上传</button>
                </div>
            </div>
            <!--灾种配置标志-->
            <input type="hidden" name="isConfig" value="1">

            <div class="layui-form-item layui-hide" >
                <div class="layui-input-block layui-col-md-offset4">
                    <button class="layui-btn" lay-submit="" lay-filter="submitConfigUpdateBtn" id="submitConfigUpdateBtn">配置</button>
                </div>
            </div>
        </div>
    </script>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space8">
            <div class="layui-col-sm3 ewip-panel-left">
                <div class="layui-card">
                    <div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon layui-icon-tree warn-card-hader-icon"></i>灾种管理</span></div>
                    <div class="layui-card-body">
                        <ul id="disasterTree" class="ztree ewip-left-tree"></ul>
                    </div>
                </div>
            </div>

            <div class="layui-col-sm9 ewip-panel-right">
                <div class="layui-card">
                    <form action="javascript:;" class="layui-form layui-card-header layuiadmin-card-header-auto searchParam">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="code" placeholder="请输入灾种编码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="name" placeholder="请输入灾种名称" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layuiadmin-button-btn" lay-submit="search" lay-filter="search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                </button>
                                <button class="layui-btn layui-btn-danger" type="reset">
                                    <i class="layui-icon layui-icon-delete layuiadmin-button-btn"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="layui-card-body">
                        <div class="layui-btn-group tableBar">
                            <button class="layui-btn" data-type="addBarBtn">添加灾种</button>
                            <button class="layui-btn" data-type="updateBarBtn">修改灾种</button>
                            <button class="layui-btn" data-type="deleteBarBtn">删除灾种</button>
                            <button class="layui-btn" data-type="configLevelBarBtn">灾种级别配置</button>
                            <button class="layui-btn" data-type="deleteLevelBarBtn">灾种级别删除</button>
                        </div>
                        <!-- 列表信息 -->
                        <table class="layui-table ewip-table" lay-filter="table" id="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/layuiadmin/layui/layui.js}" ></script>
    <script th:src="@{/ewip/sys/disaster.js}" charset="utf-8"></script>

</body>
</html>