<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>发布信息详情</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/ewip.css}" media="all">
</head>
<body>

    <!--预警编辑流程信息主键ID-->
    <input id="id"  type="text" hidden />
    <!--预警编辑主表ID-->
    <input id="warnEditId" type="text" th:value="${id}" hidden />
    <!--审核流程标识 流程：0：录入；1：审核；2：签发；3：应急办签发；4：发布；5：保存代发；6：驳回-->
    <input id="flow" type="text" hidden />
    <!-- 当前选中数据得流程值 -->
    <input id="currentFlow" type="text" hidden />

    <div class="layui-fluid edit">
        <div class="layui-form layui-form-pane">
            <div class="layui-row layui-col-space5">
                <!--基础信息-->
                <div class="layui-col-md3 layui-col-sm3 basis">
                    <div class="layui-card">
                        <div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon layui-icon-form warn-card-hader-icon"></i>基础信息</span> </div>
                        <div class="layui-card-body warn-form">
                            <div class="layui-form-item">
                                <label class="layui-form-label">发布单位:</label>
                                <div class="layui-input-block">
                                    <input type="text"  readonly name="organizationName" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">预警标题:</label>
                                <div class="layui-input-block">
                                    <input type="text" name="title" autocomplete="off" class="layui-input" readonly>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">预警名称:</label>
                                <div class="layui-input-block">
                                    <input type="text" readonly name="disasterName" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">预警颜色:</label>
                                <div class="layui-input-block">
                                    <select  name="disasterColor" disabled >
                                        <option value="">请选择预警颜色</option>
                                        <option value="0">红色</option>
                                        <option value="1">橙色</option>
                                        <option value="2">黄色</option>
                                        <option value="3">蓝色</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">预警级别:</label>
                                <div class="layui-input-block">
                                    <select  name="disasterLevel" disabled >
                                        <option value="">请选择预警级别</option>
                                        <option value="0">Ⅰ级/特别重大</option>
                                        <option value="1">Ⅱ级/重大</option>
                                        <option value="2">Ⅲ级/较大</option>
                                        <option value="3">Ⅳ级/一般</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">预警信息类型:</label>
                                <div class="layui-input-block">
                                    <select class="form-control" name="warnType" disabled >
                                        <option value="Actual">实际</option>
                                        <option value="Exercise">演练</option>
                                        <option value="Test">测试</option>
                                        <option value="Draft">草稿</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">发布时间:</label>
                                <div class="layui-input-block">
                                    <input type="text" id="editTime" name="sendTime" autocomplete="off" class="layui-input" readonly>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">预期发生时间:</label>
                                <div class="layui-input-block">
                                    <input type="text" id="forecastTime" name="forecastTime" autocomplete="off" class="layui-input" readonly>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">失效时间:</label>
                                <div class="layui-input-block">
                                    <input type="text" id="invalidTime" name="invalidTime" autocomplete="off" class="layui-input" readonly>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">国突备案:</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="record" value="0" title="否" checked>
                                    <input type="radio" name="record" value="1" title="是">
                                </div>
                            </div>
                            <hr class="ewip-hr">
                            <div class="layui-form-item">
                                <label class="layui-form-label">政府应对措施:</label>
                                <div class="layui-input-block">
                                    <textarea name="measure" class="layui-textarea" readonly style="resize:none;"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">防御指南:</label>
                                <div class="layui-input-block">
                                    <textarea name="instruction" class="layui-textarea" readonly style="resize:none;"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--预警图标和流程-->
                <div class="layui-col-md9 layui-col-sm9">
                    <div class="layui-row layui-col-space5">
                        <!--预警图标-->
                        <div class="layui-col-xs2 layui-col-md2 layui-col-lg1">
                            <div class="layui-card">
                                <div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon layui-icon-picture warn-card-hader-icon"></i>预警图标</span></div>
                                <div class="layui-card-body warn-icon-detial">
                                    <img />
                                </div>
                            </div>
                        </div>

                        <!--预警流程-->
                        <div class="layui-col-xs10 layui-col-md10 layui-col-lg11">
                            <div class="layui-card one">
                                <div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon layui-icon-release warn-card-hader-icon"></i>发布渠道</span></div>
                                <div class="layui-card-body">
                                    <div class="channel-list">
                                        <!--<div class="imgbox" data-id="1" data-title="短信" data-channel="01-短信" data-code="SMS">-->
                                        <!--<img th:src="@{/channel/07-微博.png}" alt="短信">-->
                                        <!--<span>短信</span>-->
                                        <!--</div>-->
                                        <!--<div class="imgbox" data-id="2" data-title="APP" data-channel="02-APP" data-code="SMS">-->
                                        <!--<img th:src="@{/channel/07-微博.png}" alt="APP">-->
                                        <!--<span>APP</span>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--渠道列表-->
                <div class="layui-col-md9 layui-col-sm9">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs12 layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header"> <span>&nbsp;&nbsp;<i class="layui-icon warn-card-hader-icon">&#xe675;</i>预警流程</span></div>
                                <div class="layui-card-body ewip-timeline-detial">
                                    <div class="fangxiang ewip-timeline-left"><i class="layui-icon layui-icon-prev"></i></div>
                                    <div class="fangxiang ewip-timeline-right"><i class="layui-icon layui-icon-next"></i></div>

                                    <div class="ewip-timeline-box">
                                        <div class="ewip-timeline-list">
                                            <!--<div class="ewip-timeline"></div>-->
                                            <!--<div class="timeline">-->
                                                <!--<div class="time">09-10:12:33:33</div>-->
                                                <!--<div class="content">-->
                                                    <!--<ul>-->
                                                        <!--<li>操作机构:</li><li>华池县气象局</li>-->
                                                        <!--<li>操作人员:</li><li>张三</li>-->
                                                        <!--<li>操作流程:</li><li>录入</li>-->
                                                        <!--<li>操作说明:</li><li>审核通过审核通过审核通过审核通过审核通过审核通过审核通过审核通过</li>-->
                                                    <!--</ul>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="ewip-timeline"></div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--地区树和预警内容-->
                <div class="layui-col-md9 layui-col-sm9">
                    <div class="layui-row layui-col-space5">
                        <!--地区树-->
                        <div th:class="${session.employee.level eq '3' ? 'layui-col-xs3 layui-col-md3 layui-hide' : 'layui-col-xs3 layui-col-md3'}">
                            <div class="layui-card">
                                <div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon layui-icon-tree warn-card-hader-icon"></i>影响地区</span></div>
                                <div  class="layui-card-body warn-card-body-height">
                                    <div id="areaTree" class="ztree"></div>
                                </div>
                            </div>
                        </div>

                        <!--预警内容-->
                        <div th:class="${session.employee.level eq '3' ? 'layui-col-xs12 layui-col-md12' : 'layui-col-xs9 layui-col-md9'}">
                            <div class="layui-card">
                                <div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon warn-card-hader-icon">&#xe618;</i>渠道切换</span></div>

                                <div class="layui-tab layui-tab-card warn-tab" lay-filter="warn-tab">

                                    <div class="layui-icon layadmin-tabs-control layui-icon-prev warn-tab-prev"></div>
                                    <ul class="layui-tab-title warn-tab-title">
                                        <li class="layui-this" lay-id="choose-tab">温馨提示</li>
                                        <!--<li class="layui-this" lay-id="1">短信</li>-->
                                        <!--<li lay-id="2">声讯</li>-->
                                        <!--<li lay-id="3">APP</li>-->
                                        <!--<li lay-id="4">大喇叭</li>-->
                                        <!--<li lay-id="5">显示屏</li>-->
                                        <!--<li lay-id="6">网站</li>-->
                                        <!--<li lay-id="7">微博</li>-->
                                        <!--<li lay-id="8">微信</li>-->
                                        <!--<li lay-id="9">北斗</li>-->
                                        <!--<li lay-id="10">电视</li>-->
                                        <!--<li lay-id="11">广播</li>-->
                                        <!--<li lay-id="12">传真</li>-->
                                    </ul>
                                    <div class="layui-tab-content warn-tab-content">
                                        <div class="layui-tab-item layui-show">
                                            <div class="layui-row layui-col-space5">
                                                <!--预警内容-->
                                                <div class="layui-col-xs9 layui-col-md9">
                                                    <div class="layui-card warn-card-content">
                                                        <div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon warn-card-hader-icon">&#xe618;</i>预警编辑</span></div>
                                                        <div  class="layui-card-body warn-card-content-list">
                                                            <div class="layui-row layui-col-space5">
                                                                <div class="layui-col-xs12 layui-col-md12 warn-content-skip">请选择预警</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-col-xs3 layui-col-md3">
                                                    <div class="layui-card warn-card-content">
                                                        <div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon layui-icon-tree warn-card-hader-icon"></i>受众群组</span></div>
                                                        <div  class="layui-card-body warn-card-content-list"><div class="warn-content-skip">请选择预警</div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="layui-tab-item layui-show">-->
                                        <!--<div class="layui-row layui-col-space5">-->
                                        <!--&lt;!&ndash;预警内容&ndash;&gt;-->
                                        <!--<div class="layui-col-xs9 layui-col-md9">-->
                                        <!--<div class="layui-card warn-card-content">-->
                                        <!--<div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon warn-card-hader-icon">&#xe618;</i>预警编辑</span></div>-->
                                        <!--<div  class="layui-card-body warn-card-content-list">-->

                                        <!--<div class="layui-row layui-col-space5">-->
                                        <!--<div class="layui-col-xs1 layui-col-md1 warn-content-title">-->
                                        <!--<div>新疆维吾尔自治区</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-col-xs11 layui-col-md11 warn-content-body">-->
                                        <!--<textarea type="text" placeholder="请输入预警内容" autocomplete="off" class="layui-textarea"></textarea>-->
                                        <!--</div>-->
                                        <!--</div>-->


                                        <!--<div class="layui-row layui-col-space5">-->
                                        <!--<div class="layui-col-xs1 layui-col-md1 warn-content-title">-->
                                        <!--<div>河南省</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-col-xs11 layui-col-md11 warn-content-body">-->
                                        <!--<textarea type="text" placeholder="请输入预警内容" autocomplete="off" class="layui-textarea"></textarea>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="layui-col-xs3 layui-col-md3">-->
                                        <!--<div class="layui-card warn-card-content">-->
                                        <!--<div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon layui-icon-tree warn-card-hader-icon"></i>受众群组</span></div>-->
                                        <!--<div  class="layui-card-body warn-card-content-list">-->
                                        <!--受众信息树-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--</div>-->

                                        <!--</div>-->
                                        <!--<div class="layui-tab-item">声讯</div>-->
                                        <!--<div class="layui-tab-item">APP</div>-->
                                        <!--<div class="layui-tab-item">大喇叭</div>-->
                                        <!--<div class="layui-tab-item">显示屏</div>-->
                                        <!--<div class="layui-tab-item">网站</div>-->
                                        <!--<div class="layui-tab-item">微博</div>-->
                                        <!--<div class="layui-tab-item">微信</div>-->
                                        <!--<div class="layui-tab-item">北斗</div>-->
                                        <!--<div class="layui-tab-item">电视</div>-->
                                        <!--<div class="layui-tab-item">广播</div>-->
                                        <!--<div class="layui-tab-item">传真</div>-->
                                    </div>
                                    <div class="layui-icon layadmin-tabs-control layui-icon-next warn-tab-next"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--文件列表-->
                <div class="layui-col-md9 layui-col-sm9">
                    <div class="layui-row layui-col-space5">

                        <!--处理意见-->
                        <div class="layui-col-xs3 layui-col-md3">
                            <div class="layui-card">
                                <div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon layui-icon-edit warn-card-hader-icon"></i><span id="flowTitle"></span></span></span></div>
                                <div class="layui-card-body warn-file-list-height warn-center">
                                    <textarea name="advice" class="layui-textarea" placeholder="请填写意见建议"></textarea>
                                </div>
                            </div>
                        </div>

                        <!--附件上传-->
                        <div class="layui-col-xs9 layui-col-md9">
                            <div class="layui-card">
                                <div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon layui-icon-upload-drag warn-card-hader-icon"></i>附件列表</span></div>
                                <div class="layui-card-body warn-file-list-height warn-center">

                                    <!--文件上传初始化信息-->
                                    <div class="warn-upload-msg">
                                        <span>暂无上传文件</span>
                                    </div>

                                    <!--存放文本框列表-->
                                    <div class="warn-file-list layui-hide"></div>
                                    <!--文件信息展示列表-->
                                    <table cellspacing="0" cellpadding="0" border="0"  class="layui-table layui-hide warn-file-table">
                                        <thead>
                                        <tr>
                                            <th align="center">编号</th>
                                            <th align="center">文件名称</th>
                                            <th align="center">文件大小</th>
                                            <th align="center">文件类型</th>
                                            <th align="center">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!--<tr>-->
                                        <!--<td>1</td>-->
                                        <!--<td>abc.jpg</td>-->
                                        <!--<td>128k</td>-->
                                        <!--<td>jpg</td>-->
                                        <!--<td><a class="layui-btn layui-btn-danger layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>删除</a></td>-->
                                        <!--</tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--提交按钮-->
                <div class="layui-col-md12 layui-col-sm12">
                    <div class="layui-row layui-col-space5">
                        <div class="layui-col-xs12 layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-body warn-center">
                                    <div class="layui-inline">
                                        <button class="layui-btn layuiadmin-button-btn" lay-submit="submit" lay-filter="submit">提交</button>
                                        <button class="layui-btn layuiadmin-button-btn layui-btn-warm" lay-submit="reject" lay-filter="reject">驳回</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/layuiadmin/layui/layui.js}" ></script>
    <script th:src="@{/ewip/warn/flow.js}" charset="utf-8"></script>
</body>
</html>