<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyt.server.mapper.sys.IRoleMapper">

    <resultMap id="BaseResultMap" type="com.hyt.server.entity.sys.Role">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap id="BaseMenuMap" type="com.hyt.server.entity.sys.Menu">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="p_id" jdbcType="VARCHAR" property="pId"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="turn" jdbcType="SMALLINT" property="turn"/>
        <result column="level" jdbcType="SMALLINT" property="level"/>
    </resultMap>

    <resultMap id="BasePermissionMap" type="com.hyt.server.entity.sys.Permission">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
        <result column="type" jdbcType="SMALLINT" property="type"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
    </resultMap>


    <!-- 查询角色列表信息 -->
    <select id="findAll"  resultMap="BaseResultMap">
        SELECT
            id,
            role,
            description,
            status,
            create_time
        FROM role
        WHERE 1=1
        <if test="id != null and id != ''">and id = #{id}</if>
        <if test="status != null and status != ''">and status = #{status}</if>
        <if test="role != null and role != ''">and role = #{role}</if>
        <choose>
            <when test="sortName !=null and sortName!='id'">
                ORDER BY ${sortName} ${sortOrder}
            </when >
            <otherwise>
                ORDER BY create_time DESC
            </otherwise>
        </choose>
    </select>

    <!-- 查询角色 -->
    <select id="selectByRoleName"  resultMap="BaseResultMap">
        SELECT
            id,
            role,
            description,
            status,
            create_time
        FROM role
        WHERE 1=1
        <if test="status != null and status != ''">AND status = #{status}</if>
        <if test="id != null and id != ''">AND id = #{id}</if>
    </select>

    <!-- 根据用户查询用户拥有的角色 -->
    <select id="findRoleByEmployeeId" resultMap="BaseResultMap">
        SELECT
            r.id,
            r.role,
            r.description,
            r.status,
            r.create_time
        FROM role r
        LEFT JOIN employee_role er on er.role_id = r.id
        WHERE 1=1
        AND r.status = 1
        <if test="employeeId != null and employeeId != ''">
            AND er.employee_id= #{employeeId}
        </if>
    </select>


    <!--根据角色ID查询对应的菜单信息-->
    <select id="selectRoleInMenu" resultMap="BaseMenuMap">
        SELECT
          m.id,
          m.name,
          m.code,
          m.url,
          m.p_id,
          m.icon,
          m.level,
          m.turn
        FROM menu m
        LEFT JOIN role_menu rm ON rm.menu_id = m.id
        WHERE 1=1
        <if test="roleId != null and roleId != '' ">
            AND rm.role_id in (
            <foreach collection="roleId.split(',')" item="item"  separator=","  >
                '${item}'
            </foreach>
            )
        </if>

    </select>

    <!--根据角色ID查询对应的权限信息-->
    <select id="selectRoleInPermission" resultMap="BasePermissionMap">
        SELECT
            p.id,
            p.name,
            p.permission,
            p.type,
            p.status
        FROM permission p
        LEFT JOIN role_permission rp ON rp.permission_id = p.id
        WHERE
        p.status = 1
        and rp.role_id = #{roleId}
    </select>


    <!--角色分配菜单-->
    <insert id="insertRoleMenu">
        insert into role_menu (id, role_id, menu_id, create_time )
        values
        <foreach collection="menuId.split(',')" item="item"  separator=","  >
            (REPLACE(UUID(),'-',''), #{roleId}, '${item}', now())
        </foreach>
    </insert>

    <!--角色分配权限-->
    <insert id="insertRolePermission">
        insert into role_permission (id, role_id, permission_id, create_time )
        values
        <foreach collection="permissionId.split(',')" item="item"  separator=","  >
            (REPLACE(UUID(),'-',''), #{roleId}, '${item}', now())
        </foreach>
    </insert>

    <!--根据角色ID删除对应的菜单信息-->
    <delete id="deleteByRoleId">
        DELETE FROM role where id in (
            <foreach collection="roleId.split(',')" item="item"  separator=","  >
                '${item}'
            </foreach>
        )

    </delete>

    <!--根据角色ID删除对应的权限信息-->
    <delete id="deleteRoleInPermission">
        DELETE FROM role_permission where  role_id in (
            <foreach collection="roleId.split(',')" item="item"  separator=","  >
                '${item}'
            </foreach>
        )
    </delete>

    <!--根据角色ID删除对应的菜单信息-->
    <delete id="deleteRoleInMenu">
        DELETE FROM role_menu where role_id in (
            <foreach collection="roleId.split(',')" item="item"  separator=","  >
                '${item}'
            </foreach>
        )
    </delete>


</mapper>